<!-- section about us -->
<section class="container">
    <section class="about-us col-md-10 col-sm-10 col-xs-12" id="about-us">

        <h1>ABOUT US</h1>
        <hr/>
        <p class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        <div class="col-md-12">
            <div class="row">
                <a href="../events" class="column-one col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="circle-one"></div>
                    <h2>EVENTS</h2>
                    <p>Check out the upcoming events!</p>
                </a>
                <a href="../performers" class="column-two col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="circle-two"></div>
                    <h2>PERFORMERS</h2>
                    <p>Click above and check our performers!</p>
                </a>
            </div>
        </div>
    </section>
</section>


<section class="container-fluid noPadding event-page parallax-background py-5">
    <section class="container py-3" id="events">
        <app-frame-event></app-frame-event>
    </section>
</section>

<section class="portfolio" id="portfolio">


    <div class="portfolio-margin container py-4">

        <h1>PORTFOLIO</h1>
        <hr/>

        <div class="row">
            <ul class="grid col-lg-12 col-md-12 col-sm-12 my-5" style="display: flex; flex-wrap: wrap;">
                <li *ngFor="let image of gallery" class="col-lg-4 col-md-4 col-sm-4 noPadding">
                    <a href="#">
                        <img src="{{image}}" alt="Portfolio item" class="img-respsonsive" width="100%" height="225px"/>
                        <div class="text">
                            <p>PORTFOLIO 1</p>
                            <p class="description">Lorem ipsum dolor...</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</section>

<section class="contact col-md-12 col-sm-12 col-xs-12 pb-5 hidden-xs" id="contact">
    <h1>Contact</h1>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-lg-3 offset-md-3 offset-sm-3 offset-xs-3">
        <hr/>
    </div>

    <div class="content col-lg-4 col-md-4 col-sm-4 col-xs-12 offset-lg-4 offset-md-4 offset-sm-4">

        <div class="form pb-3">

            <form (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <input name="your-name" class="form-control" id="your-name" placeholder="Név"/>
                </div>

                <div class="form-group">
                    <input name="your-email" class="form-control" id="your-email" placeholder="E-mail cím"/>
                </div>

                <div class="form-group">
                    <textarea id="message" class="form-control" name="message" placeholder="Üzenet"></textarea>
                </div>

                <button class="btn btn-green">
                    Küldés
                </button>

            </form>

        </div>

    </div>

</section>
