<mat-toolbar>
  <h2>Perfomers</h2>
  <span>&nbsp;|&nbsp;</span>
  <a class="btn btn-danger" routerLink="/admin/performers/edit">
    <span>Add performer</span>
  </a>
</mat-toolbar>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<mat-table #table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="genre">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Genre</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.genre}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="website">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Website</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.website}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Details</mat-header-cell>
    <mat-cell *matCellDef="let element"> <button routerLink="/admin/performers/edit/{{ element.id }}"><mat-icon>mode_edit</mat-icon></button></mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator #paginator
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>