<div class="container-fluid">
    <!-- section start-page -->
    <div class="row">
        <section class="start-page parallax-background" id="home">

            <div class="opacity"></div>
            <div class="content col-md-10 col-sm-10 col-xs-10 col-md-offset-1">
                <div class="text col-md-6 col-sm-6 col-xs-6 col-md-offset-3">

                    <h1>Lorem ipsum<br/>
                        <span>dolor sit</span></h1>
                    <p>Amet sit consititeu</p>

                    <a href="#about-us">
                        <div class="read-more">Lorem</div>
                    </a>

                </div>
                <div class="arrow-down"></div>
            </div>
        </section>

        <section class="menu-media">

            <div class="menu-content">

                <div class="logo">Loremipsum</div>

                <div class="icon"><a href="#"><img src="../assets/img/icons/menu-media.png"/></a></div>

            </div>

        </section>

        <ul class="menu-click">
            <a href="#home">
                <li href="#home">HOME</li>
            </a>
            <a href="#about-us">
                <li href="#about-us">Lorem</li>
            </a>
            <a href="#">
                <li href="#">Ipsum</li>
            </a>
            <a href="#">
                <li href="#">Dolor</li>
            </a>
        </ul>


        <!-- section menu -->

        <section class="menu">

            <div class="menu-content">

                <div class="logo">Loremipsum</div>

                <ul id="menu">
                    <li><a href="#home">HOME</a></li>
                    <li><a href="#about-us">Lorem</a></li>
                    <li><a href="#">Ipsum</a></li>
                    <li><a href="#">Dolor</a></li>
                </ul>
            </div>

        </section>

    </div>

    <div class="container">
        <router-outlet></router-outlet>

        <div class="clear"></div>

    </div>

    <div class="row">
        <section class="footer col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="margin col-md-9 col-lg-6">
                    <div class="row">
                        <div class="menu-footer col-md-6">

                            <a href="#">Home</a>
                            <a href="#">Lorem</a>
                            <a href="#">Ipsum</a>
                            <a href="#">Dolor</a>

                        </div>

                        <div class="copyright col-md-6">© 2017</div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>