<mat-toolbar>
    <h2>Event editor</h2>
</mat-toolbar>

<form (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input matInput [(ngModel)]="event.name" name="name" placeholder="Name" autofocus>
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="event.startDate" name="startDate" placeholder="Start Date">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="event.endDate" name="endDate" placeholder="End Date">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="event.description" name="description" placeholder="Description">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="event.locationId" name="locationId" placeholder="Location ID">
    </mat-form-field>
    <button mat-raised-button>Save</button>
</form>