<!-- section about us -->
<section class="about-us col-md-12 col-sm-12 col-xs-12" id="about-us">

    <h1>ABOUT US</h1>
    <hr/>
    <p class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    <div class="col-md-12">
        <div class="row">
            <div class="column-one col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="circle-one"></div>
                <h2>LOREM<br/>IPSUM</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
            </div>
            <div class="column-two col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="circle-two"></div>
                <h2>LOREM<br/>IPSUM</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
            </div>
            <div class="column-three col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="circle-three"></div>
                <h2>LOREM<br/>IPSUM</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
            </div>
        </div>
    </div>

</section>

<section class="contact col-md-12 col-sm-12 col-xs-12 mb-2" id="contact">
    <h1>Contact</h1>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-lg-3 offset-md-3 offset-sm-3 offset-xs-3">
        <hr/>
    </div>

    <div class="content col-lg-8 col-md-8 col-sm-8 col-xs-8 offset-lg-2 offset-md-2 offset-sm-2 offset-xs-2">

        <div class="form">

            <form action="#" method="post" enctype="text/plain">

                <div class="form-group">
                    <input name="your-name" class="form-control" id="your-name" placeholder="Név"/>
                </div>

                <div class="form-group">
                    <input name="your-email" class="form-control" id="your-email" placeholder="E-mail cím"/>
                </div>

                <div class="form-group">
                    <textarea id="message" class="form-control" name="message" placeholder="Üzenet"></textarea>
                </div>

                <a href="#">
                    <div class="button">
                        <span>Küldés</span>
                    </div>
                </a>

            </form>

        </div>

    </div>

</section>
